@font-face {
	font-family: "Draw";
	src: url("./Fonts/Lazy Monday.otf") format("opentype");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Draw";
}
:root {
	font-size: 16px;
}
body {
	font-family: "Draw";
	background-color: #eeeeee;
}
header {
	background-color: #161616;
	color: #eeeeee;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.page-header-title h1 {
	display: flex;
	align-items: center;
	column-gap: 20px;
}
header h1 {
	display: inline-block;
	font-size: clamp(4rem, 10vw, 7rem);
}
header svg {
	width: clamp(4rem, 10vw, 7rem);
	height: clamp(4rem, 10vw, 7rem);
}

.page-header-nav-button {
	width: clamp(4rem, 10vw, 7rem);
	height: clamp(4rem, 10vw, 7rem);
	display: flex;
	background-color: transparent;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-around;
}
.page-header-nav-button,
header h1,
.add-project:hover,
header svg {
	transition: transform 300ms;
}
.page-header-nav-button:hover,
header h1:hover,
.add-project:hover,
header svg:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.page-header-nav-button.rotated {
	transition-delay: 300ms;
	transform: rotateZ(0.25turn);
}
.page-header-nav-button .bar {
	background-color: #eeeeee;
	height: 20%; /* Set the height to 25% of the parent's height */
	border-radius: 100vw;
	box-shadow: 1px 1px 1px #666666;
}
/* ------ */
/* NAV Content */
.nav-content {
	overflow-y: hidden;
	background-color: #acacac;
	color: #161616;
}
.nav-content[aria-expanded="false"] {
	max-height: 0;
	transition: max-height 1000ms;
}
.nav-content[aria-expanded="true"] {
	transition: max-height 2000ms;
	max-height: 700px;
}

.navbar,
.main {
	padding: 20px;
	padding-bottom: 100px;
}
.navbar ul {
	list-style: none;
}
.navbar > ul {
	padding-left: 0;
}
.navbar > ul > li > ul > li,
.navbar > ul > li > span {
	padding-left: 20px;
}
.nav-link-click {
	display: inline-flex;
	column-gap: 10px;
	align-items: center;
	transition: scale 300ms;
}
.navbar h3 {
	font-size: 2rem;
	padding: 10px 0;
}
.nav-link-click span {
	font-size: 1.5rem;
}
.nav-link-click:hover {
	scale: 1.1;
	cursor: pointer;
	color: #3a3a3a;
}
.content-header,
.content-list-add-item-text,
.content-list-item-symbol,
.content-list-item-date {
	display: inline-flex;
	flex-wrap: wrap; /*solution for now*/
	column-gap: 10px;
	align-items: center;
}
.content-header {
	font-size: 3rem;
}
.content-list-item {
	font-size: 1.5rem !important;
	display: flex;
	justify-content: space-between;
}
.content-list-add-item {
	display: flex;
	align-items: center;
	justify-content: center;
}
.content-list-add-item.delete-save-button {
	display: flex;
	align-items: center;
	justify-content: center;
}
.content-list-add-item button {
	font-size: 1.5rem;
	padding: 5px 10px;
	border-radius: 10px;
	background-color: #d2d2d2;
}
.list-item-date {
	font-size: 1.2rem;
}
.content-list > li {
	padding-left: 20px;
}
.main .material-symbols-outlined {
	font-size: inherit;
}
.content-list-item-details {
	color: rgb(80, 80, 80);
	font-size: 1.1rem;
}
.priority {
	padding-right: 10px;
}
.priority::after {
	padding: 5px;
	border-radius: 5px;
}
.priority[priority="high"]::after {
	background-color: red;
	content: "HIGH!!!";
}
.priority[priority="medium"]::after {
	background-color: rgb(255, 115, 0);
	content: "MEDIUM!!";
}
.priority[priority="low"]::after {
	background-color: rgb(246, 255, 0);
	content: "LOW!";
}
.material-symbols-outlined.content-list-item-marker.remove-task {
	opacity: 0;
}
.content-list-item input:hover,
.content-list-add-item button:hover,
.material-symbols-outlined.content-list-item-marker:hover {
	cursor: pointer;
	scale: 1.05;
	transition: scale 300ms;
}
.content-list > * {
	border-radius: 5px;
	padding: 10px;
}

.content-list-item:hover {
	background-color: #a1a1a1;
}
.content-list-item:hover
	.material-symbols-outlined.content-list-item-marker.remove-task {
	opacity: 1;
}
.main-title {
	text-align: center;
	text-decoration: underline;
	font-size: 3rem;
}
.add-project {
	font-size: 2rem;
	padding: 5px 10px;
	border-radius: 10px;
	background-color: #d2d2d2;
}
.project-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	padding: 10px;
}
.nav-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 5px;
	padding: 5px;
}
.remove-project{
	opacity: 0;
}
.project-header:hover {
	background-color: #cdcdcd;
}
.nav-link:hover {
	background-color: #cdcdcd;
}
.project-header:hover .remove-project{
	opacity: 1;
	transition: 300ms;
}
.nav-link:hover .remove-project{
	opacity: 1;
	transition: 300ms;
}
/* FOOTER */

#page-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #161616;
	color: #eeeeee;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
	width: 100%;
	padding: 10px;
	font-size: 20px;
	text-align: center;
}

.fa-github {
	color: #eeeeee;
	font-size: 40px;
	transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
	transform: rotate(360deg) scale(1.2);
}
