@font-face {
	font-family: "Draw";
	src: url("./Fonts/Lazy Monday.otf") format("opentype");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Draw";
}
:root {
	font-size: 16px;
}
body {
	font-family: "Draw";
	background-color: #eeeeee;
}
header {
	background-color: #161616;
	color: #eeeeee;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.page-header-title h1 {
	display: flex;
	align-items: center;
	column-gap: 20px;
}
header h1 {
	display: inline-block;
	font-size: clamp(4rem, 10vw, 7rem);
}
header svg {
	width: clamp(4rem, 10vw, 7rem);
	height: clamp(4rem, 10vw, 7rem);
}

.page-header-nav-button {
	width: clamp(4rem, 10vw, 7rem);
	height: clamp(4rem, 10vw, 7rem);
	display: flex;
	background-color: transparent;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-around;
}
.page-header-nav-button,
header h1,
header svg {
	transition: transform 300ms;
}
.page-header-nav-button:hover,
header h1:hover,
header svg:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.page-header-nav-button.rotated {
	transition-delay: 300ms;
	transform: rotateZ(0.25turn);
}
.page-header-nav-button .bar {
	background-color: #eeeeee;
	height: 20%; /* Set the height to 25% of the parent's height */
	border-radius: 100vw;
	box-shadow: 1px 1px 1px #666666;
}
.page-header-nav-button.rotated {
}
/* ------ */
/* NAV Content */
.nav-content {
	overflow-y: hidden;
	background-color: #acacac;
	color: #161616;
}
.nav-content[aria-expanded="false"] {
	max-height: 0;
	transition: max-height 1000ms;
}
.nav-content[aria-expanded="true"] {
	transition: max-height 2000ms;
	max-height: 700px;
}

.navbar,
.main {
	padding: 20px;
}
.navbar ul {
	list-style: none;
}
.navbar > ul {
	padding-left: 0;
}
.navbar > ul > li > ul > li,
.navbar > ul > li > span {
	padding-left: 20px;
}
.nav-link-click {
	display: inline-flex;
	column-gap: 10px;
	align-items: center;
	transition: scale 300ms;
}
.navbar h3 {
	font-size: 2rem;
	padding: 10px 0;
}
.nav-link-click span {
	font-size: 1.5rem;
}
.nav-link-click:hover {
	scale: 1.1;
	cursor: pointer;
	color: #3a3a3a;
}
.content-header,
.content-list-add-item-text,
.content-list-item-symbol {
	display: inline-flex;
	column-gap: 10px;
	align-items: center;
}
.content-header {
	font-size: 3rem;
}
.content-list-item {
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
}
.content-list-add-item {
	font-size: 1.5rem;
	display: inline-flex;
	align-items: center;
	justify-content: start;
}
.content-list >li{
	padding-left: 20px;
}
.main .material-symbols-outlined {
	font-size: inherit;
}

/* FOOTER */

#page-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #161616;
	color: #eeeeee;
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
	width: 100%;
	padding: 10px;
	font-size: 20px;
	text-align: center;
}

.fa-github {
	color: #eeeeee;
	font-size: 40px;
	transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
	transform: rotate(360deg) scale(1.2);
}
